h1 {
    color:aqua
}

.header{
    background-color: brown;
    display: flex;
    justify-content: space-around;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
p,h2{
    text-align: center;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
body{
    background-image: url("portfolio-background-header.png");
}